*{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}
#body{
    background-color:  #8a2be2
}
.about{
    width:100%;
    padding: 78px 0px;
    background-color: #8a2be2;
}
.about img{
    height:auto;
    width: 420px;
    filter: brightness(1);
}
.about-text{
    width:550px;

}
.main{
    width:1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:centre;
    justify-content: space-around;
}
.about-text h1{
    color:white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: rgb(57, 23, 88);
}