*{
    padding:0;
    margin:0;
}
body{
    background-color: #8a2be2;
}

.container1{
    margin: 20px 40px;
    color: white;
}
.heading{
    font-size: 60px;
    color:azure;
}
.heading span{
    font-style: italic;
    font-size:30px;

}

.profiles{
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
    margin:20px 80px;
}
.profile{
    flex-basis: 260px;
    margin: 5px 10px 5px 10px;
}
.profile .profile-img{
    height:200px;
    width:200px;
    
    filter:grayscale(50%);
    cursor : pointer;
    transition: 490ms;
}
.profile:hover .profile-img{
    filter:grayscale(0);
}
.user-name{
    margin-top: 30px;
    font-size: 35px;
}

@media only screen and (max-width: 1150px){
.profiles{
    flex-direction: column;
}
}
