*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto ;
    margin-left: auto;
    margin-right: auto;
    
}
.container1{
    padding: 10px 50px;
    position: relative;
    max-width: 30%;
    background: rgb(200,200,40,0.3);
}
.text-box{
    padding: 20px 30px;
    background: #fff;
    border-radius: 6px;
    font-size: 15px;
}
.left-container1{
    left:0;
}
.right-container1{
    left:70%;
}
.right-container1 img{
    position:absolute;
    width : 200px;
    left:-60%;
}
.left-container1 img{
    position:absolute;
    width : 200px;
    right:-62%; 
}

.timeline::after{
    content:' ';
    position:absolute;
    width: 6px;
    height:100%;
    background:white;
    top:0;
    left:50%;
    z-index:-1;

}
.round-right{
    background: rgb(222, 179, 221);
    position:absolute;
    left:-68.5%;
    margin-top: 10%;
    color:rgb(200,200,40,0.0);
    border-radius: 10px;
}
.round-left{
    background: white;
    position:absolute;
    right:-70%;
    margin-top: 10%;
    color:rgb(200,200,40,0.0);
    border-radius: 10px;
}
.nav{
background: rgb(20, 6, 32);
}