*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto; 
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgb(200,200,40,0.3);
}
.text-box{
    padding: 20px 30px;
    background: #fff;
    border-radius: 6px;
    font-size: 15px;
}