#SACText{
    position:absolute;
    top: 50%;
    color: #CF0A0A;
    font-size: 50px;
    width : 100% ;
    text-align: center;
    background: rgba(174, 171, 147, 0.5);
}
#head1{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-family:cursive;
}
.normalText{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.grid-container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    
  }